$TTL 86400
@ IN SOA control.example.com. root.control.example.com. (
              3           ;Serial
              3600        ;Refresh
              1800        ;Retry
              604800      ;Expire
              86400       ;Minimum TTL
)
@  IN  NS control.example.com.
{% for entry in groups.all %} 
{{ entry }}	IN A 	{{ hostvars[entry]['ansible_host'] }}
{% endfor %}
