======================================================================================
                                GRADE SUMMARY
======================================================================================
Course Name     |   {{ course_id }}
Lab Name        |   {{ lab_id }}
Student ID      |   {{ student_id }}
Grade Log       |   /tmp/{{ lab_id }}_logs.txt
Grade Report    |   /tmp/{{ course_id }}/{{ lab_id }}_report.txt

