======================================================================================
                                Grade Summary
======================================================================================
Course name     |   {{ course_id }}
Lab number      |   {{ lab_id }}
Student id      |   {{ student_id }}
Grad Log        |   /tmp/{{ lab_id }}_logs.txt
Grade Report    |   /tmp/{{ course_id }}/{{ lab_id }}_report.txt